@import "tailwindcss";

@theme {
  /* Next.js Font가 생성한 CSS 변수를 그대로 사용 */
  --font-sans:
    var(--font-noto-sans-kr), var(--font-inter), ui-sans-serif, system-ui,
    sans-serif;
}

/* 기본 스타일 */
body {
  @apply bg-white text-gray-900;
}
